<div class="row">
  <div class="col-sm-12">
    <app-home></app-home>
  </div>

</div>
<br/>

<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <h2 class="text-white">Herramientas para la creación de objetos de aprendizaje</h2>

  <br/>
  <h3 class="text-white">eXeLearning</h3>
  <p class="text-white">  eXeLearning es un programa libre y abierto bajo licencia GPL-2 para ayudar a los docentes en la creación y publicación de contenidos, y que permite a profesores y académicos la publicación de contenidos didácticos en soportes informáticos (CD, memorias USB, en la web, en la nube), sin necesidad de ser ni convertirse en expertos en HTML, XML o HTML5. eXeLearning está disponible en GNU/Linux, Microsoft Windows y Mac OS X.</p>
  <img src="http://jacr.000webhostapp.com/sgoa/images/exe.png" alt="jjdjd">
  <br/>
  <a href="http://exelearning.net/" target="_blank">http://exelearning.net/</a>
  <br/>
  <br/>

  <h3 class="text-white">QUIEZ</h3>
  <p class="text-white">Es un software gratuito para Windows que le permite crear cuestionarios multimedia como documentos HTML . Este programa simplifica la creación de cuestionarios en HTML sin ningún conocimiento previo de HTML o JavaScript.

    El cuestionario está listo para ser publicado en Internet, en una red local (con protocolo de Intranet) o en una PC local.</p>
  <img src="http://jacr.000webhostapp.com/sgoa/images/quizFaber.png" alt="jjdjd">
  <br/>
  <a href="http://www.quizfaber.com/index.php/en/" target="_blank">http://www.quizfaber.com/index.php/en/</a>
  <br/>
  <br/>

  <h3 class="text-white">EdiLIM</h3>
  <p class="text-white">EdiLIM es un editor de libros LIM (Libros Interactivos Multimedia) para la creación de materiales educativos en entornos Microsoft Windows. Es una sencilla aplicación con la que se puede preparar cualquier libro educativo para su distribución o publicación en Internet. Se compone de archivos que se denominan libros, y de actividades que se denominan páginas. Las páginas pueden ser interactivas (sopas de letras, rompecabezas, preguntas, etc.) o descriptivas (muestran información). Se presenta como un programa ejecutable de pequeño tamaño que no precisa instalación.</p>
  <img src="http://jacr.000webhostapp.com/sgoa/images/edilim.png" alt="jjdjd">
  <br/>
  <a href="http://www.educalim.com/cinicio.htm" target="_blank">http://www.educalim.com/cinicio.htm</a>
  <br/>
  <br/>
  <br/>
  <br/>
  <h2 class="text-white">Herramientas de apoyo para la creación de objetos de aprendizaje</h2>
  <br/>
  <h3 class="text-white">MindMeister</h3>
  <p class="text-white">  MindMeister es un software de desarrollo conjunto de mapas mentales en línea, que es tanto versátil como fácil de usar. Estudiantes de todas las edades pueden utilizar MindMeister para estudiar de manera más eficiente, dar rienda suelta a su potencial creativo y avanzar en su desarrollo intelectual.</p>
  <img src="http://jacr.000webhostapp.com/sgoa/images/mindMeister.png" alt="jjdjd">
  <br/>
  <a href="https://www.mindmeister.com/es" target="_blank">https://www.mindmeister.com/es</a>
  <br/>
  <br/>
  <h3 class="text-white">Krut</h3>
  <p class="text-white">Krut es otra aplicación que se suma a la larga ista de posibles para realizar la grabación de una secuencia de acciones sobre nuestro escritorio. Al estar desarrollada en Java, se trata de una aplicación multiplataforma, la cual nos permitirá tanto el registro de vídeos (formato mov) como de audio (formato wav). Una solución más para realizar nuestros vídeo tutoriales.</p>
  <img src="http://jacr.000webhostapp.com/sgoa/images/krut.gif" alt="jjdjd">
  <br/>
  <a href="http://krut.sourceforge.net/" target="_blank">http://krut.sourceforge.net/</a>
  <br/>
  <br/>
  <h3 class="text-white">GIMP</h3>
  <p class="text-white">GIMP (GNU Image Manipulation Program) es un programa de edición de imágenes digitales en forma de mapa de bits, tanto dibujos como fotografías. Es un programa libre y gratuito. Forma parte del proyecto GNU y está disponible bajo la Licencia pública general de GNU y GNU Lesser General Public License.

    GIMP tiene herramientas que se utilizan para el retoque y edición de imágenes, dibujo de formas libres, cambiar el tamaño, recortar, hacer fotomontajes, convertir a diferentes formatos de imagen, y otras tareas más especializadas. Se pueden también crear imágenes animadas en formato GIF e imágenes animadas en formato MPEG usando un plugin de animación.</p>
  <img src="http://jacr.000webhostapp.com/sgoa/images/gimp.png" alt="jjdjd">
  <br/>
  <a href="http://www.gimp.org.es/" target="_blank">http://www.gimp.org.es/</a>
  
</div>


