<div class="row">
  <div class="col-sm-12">
    <app-home></app-home>
  </div>

</div>
<br/>

<h1 class="text-center text-white-50">Objetos de Aprendizaje</h1>
<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Archivo que contine el objeto de aprendizaje:</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
    <br/>
    <label for="formGroupExampleInput">Nombre:</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
    <br/>
    <label for="formGroupExampleInput2">Descripción:</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Descripción">
    <br/>
    <label for="formGroupExampleInput2">Institución:</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Institución">
    <br/>
    <label for="formGroupExampleInput2">Palabras clave:</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Palabras clave">
    <br/>
    <button class="btn" (click) = "login()">Terminar Registro</button>
  </div>
  
</form>
<br/>
<footer class="my-5 pt-5 text-muted text-center text-small">
  <br/>
    <p class="mb-1">&copy; 2018 Jose's</p>
    
  </footer>
