<div class="row">
    <div class="col-sm-12">
      <app-home></app-home>
    </div>
  
  </div>

  <br/>
  <h1 class="text-center text-white-50">Administración de Profesores</h1>
  

    <div class="row">
      <div class="col-md-3 mb-3"></div>
        <div class="col-md-3 mb-3">

            
          
        </div>
        <div class="col-md-6">
           
        </div>
        <div class="col-md-3 "></div>
    </div>
    
    <form class="datos" novalidate>
        <div class="row">
            <div class="col-md-6 mb-3">
                <select class="custom-select w-50 " id="tipoUsuario" required>
                    <option>Filtrar por: </option>
                    <option>Nombre</option>
                    <option>Usuario</option>
                    <option>Cédula</option>
                  </select>
            </div>
            <div class="col-md-6 mb-3">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
            </div>
          </div>
    </form>
      


  
  <table class="table">
    <thead class="thead-light text-primary">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Usuario</th>
        <th scope="col">Tipo</th>
        <th scope="col">Estado</th>
        <th scope="col">Nombre Completo</th>
        <th scope="col">Cédula</th>
        <th scope="col">Cambiar Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row text-white" class="text-white">1</th>
        <td class="text-white">Mark</td>
        <td class="text-white">Otto</td>
        <td class="text-white">@mdo</td>
        <td class="text-white">Mark</td>
        <td class="text-white">Otto</td>
        <td class="text-white">@mdo</td>
      </tr>
      <tr>
        <th scope="row text-white" class="text-white">2</th>
        <td class="text-white">Jacob</td>
        <td class="text-white">Thornton</td>
        <td class="text-white">@fat</td>
        <td class="text-white">Mark</td>
        <td class="text-white">Otto</td>
        <td class="text-white">@mdo</td>
      </tr>
      <tr>
        <th scope="row text-white" class="text-white">3</th>
        <td class="text-white">Larry</td>
        <td class="text-white">the Bird</td>
        <td class="text-white">@twitter</td>
        <td class="text-white">Mark</td>
        <td class="text-white">Otto</td>
        <td class="text-white">@mdo</td>
      </tr>
      <tr>
          <th scope="row text-white" class="text-white">4</th>
          <td class="text-white">Larry</td>
          <td class="text-white">the Bird</td>
          <td class="text-white">@twitter</td>
          <td class="text-white">Mark</td>
        <td class="text-white">Otto</td>
        <td class="text-white">@mdo</td>
        </tr>
    </tbody>
  </table>

  <footer class="my-5 pt-5 text-muted text-center text-small">
      <br/>
        <p class="mb-1">&copy; 2018 Jose's</p>
        <ul class="list-inline">
        </ul>
      </footer>