<div class="row">
  <div class="col-sm-12">
    <app-nav-bar></app-nav-bar>
  </div>

</div>

    <nav class="nav">
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-white-50 " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Objetos de Aprendizaje</a>
            <div class="dropdown-menu">
              <a class="dropdown-item nav-link" href="/importar">Importar y Catalogar Objetos de Aprendizaje</a>
              <a class="dropdown-item" href="#">Buscar y Administrar Objetos de Aprendizaje</a>
            </div>
          </li>
        <a class="flex-sm-fill text-sm-center nav-link text-white-50" href="/gestionProfesores">Gestionar Profesores</a>
        <a class="flex-sm-fill text-sm-center nav-link text-white-50" href="/gestionEstudiantes">Gestionar Estudiantes</a>
        <a class="flex-sm-fill text-sm-center nav-link text-white-50" href="/herramientas">Herramientas</a> 
      </nav>


  
   
    
